html, body, div, span, img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

body {
	width: 536px;
	height: 360px;
	overflow: hidden;
	font-family: "Lucida Grande";
	font-size: 13px;
	background: transparent url('body.png') no-repeat left top;
	color: #283446;
	text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 0px;
	padding: 15px;
}

#title {
}

#illustrations {
	padding-top: 4px;
	width: 100%;
	overflow: hidden;
}

.illustration {
	font-weight: bold;
	width: 252px;
	float: left;
}

#fine-print {
	position: absolute;
	left: 15px;
	top: 320px;
	font-size: 11px;
	width: 506px;
}