BODY {
	font-size: 70%;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}

P {
        margin-top:0.00pt;
        margin-bottom:0.00pt;
        text-align: left;
        margin-top : 5.00pt;
        margin-bottom : 0.00pt;
}

H1 {
        margin-top:6.00pt;
        margin-bottom:9.00pt;
        text-align:left;
        font-size:16pt;
        color:navy;
        font-weight:bold;
        border-bottom : thin solid Navy;
}

H2 {
	margin-top:6.00pt;
	margin-bottom:9.00pt;
	text-align:left;
	font-size:150%;
	font-weight:bold;
	font-style : italic;
}

H3 {
	margin-top:12.00pt;
	margin-bottom:0.00pt;
	text-align: left;
	font-size:8pt;
	font-weight:bold;
	color : Navy;
}

H4 {
        margin-left:18.10pt;
        margin-top:6.00pt;
        margin-bottom:0.00pt;
        text-indent:-10.10pt;
        text-align:left;
        font-size:16pt;
        font-weight: bold;
        text-decoration:underline;
}

H5 {
	margin-top:12.00pt;
	margin-bottom:0.00pt;
	text-align: left;
	font-size:125%;
	font-weight:bold;
}

H6 {
         margin-top:6.00pt;
        margin-bottom:6.00pt;
        text-align:left;
        font-size:14pt;
        color:navy;
    	font-weight:normal;
}


P.Body-Text {
        margin-top:5.00pt;
        margin-bottom:0.00pt;
        text-align: left;
}

P.TOC-Base {
        margin-top:0.00pt;
        margin-bottom:0.00pt;
        text-align: left;
}

P.Jump-from-Contents {
        margin-left:20.00pt;
        margin-top:1.00pt;
        margin-bottom:0.00pt;
        text-align: left;
        text-decoration:underline;
}

P.RelatedHead {
        margin-top:9.00pt;
        margin-bottom:1.00pt;
        text-align: left;
        font-size:125%t;
        color:navy;
        font-weight:bold;
}

P.Jump {
        margin-top:0.00pt;
        margin-bottom:3.00pt;
        text-align: left;
        text-decoration:underline;
}

P.Jump-from-List {
        margin-top:0.00pt;
        margin-bottom:3.00pt;
        text-align: left;
        text-decoration:underline;
}

P.TableText {
        margin-left:3.60pt;
        margin-right:3.60pt;
        margin-top:2.00pt;
        margin-bottom:2.00pt;
        text-align:left;
}

P.TableHeading {
        margin-left:3.60pt;
        margin-right:3.60pt;
        margin-top:3.00pt;
        margin-bottom:0.00pt;
        text-align: left;
        font-weight:bold;
}

P.Indented-text {
        margin-left:36.00pt;
        margin-top:5.00pt;
        margin-bottom:0.00pt;
        text-align: left;
}

P.SmallIndent {
        margin-left:0.2in;
}

P.QuickStartH2{
	font-size : 14pt;
	color : Navy;
	margin-bottom : 8pt;
	margin-top : 12pt;
}

P.QuickStartH3{
	font-size : 12pt;
	color : Navy;
	margin-bottom : 8pt;
	margin-top : 12pt;
}

LI.Indented-text{
        margin-left:36.00pt;
        margin-top:5.00pt;
        margin-bottom:0.00pt;
        text-align: left;
}

P.Bullet-Number {
        margin-left:36.00pt;
        margin-top:5.00pt;
        margin-bottom:0.00pt;
        text-indent:-18.00pt;
        text-align: left;
}

P.Context-Help {
        margin-top:6.00pt;
        margin-bottom:0.00pt;
        text-align: left;
}

P.Bullet-Number-2 {
        margin-left:54.00pt;
        margin-top:5.00pt;
        margin-bottom:0.00pt;
        text-indent:-18.00pt;
        text-align: left;
}

P.LicenseH3 {
	margin-top:6.00pt;
	margin-bottom:0.00pt;
	text-align: left;
	font-size:125%;
	font-weight:bold;
	font-style : italic;
}

LI {
        margin-top:5.00pt;
         margin-bottom:0pt;
        text-align: left;
}

LI.Continue{
        margin-top:5.00pt;
        text-align: left;
        list-style : none;
}

Table {
		font-size:100%;
}
TD.RightAlign {
        text-align : right;
}
TR.order-form {
	height:0.22in
}

Table.Pro {
	background : DDDDFF;
	width : 100%;
	font : larger;
	color : 000088;
}

UL{
	margin-top : 0px;
}

OL{
    margin-top : 0px;	
}

B.Bullet {
    color : navy;
}

.CopyPaste {
    display:none;
}

.resize {
  
}

.alt2resize {
    display: none;
}

.Search {
  display: none;
}

.GetInfo {

}

.StatusBarSlider {
  display: none;
}

.UnzipSaveAs {
  display: none;
}

.NoCloseExpandFolder {
  display: none;
}

.AutoOpen {

}


.rename {
  display: none;
}

.FileSource {
  display: none;
}

.IntegratedEmail {
  display: none;
}

